@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
   background-color: rgb(237, 229, 229);
    text-align: center;
    padding: 20px;
    font: normal 0.8em sans-serif;   
}

h1{
    font: bold 3em sans-serif;
}

h2{
    margin-bottom: 20px;
    font-family: sans-serif;
}

.main-card{
    background-color: rgb(40, 40, 53);
    border-radius: 10px;
    width: 60%;
    margin: 30px auto;
    color: white;
    padding: 30px 30px 30px 30px;
}

.wrapper-inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.div-name{
    width: 100%;
    margin-bottom: 10px;
}

.name{
    width: 70%;
    height: 30px;
}

.div-scores{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.inputs{
    width: 20%;
    margin: 10px;
    height: 30px;
}

.result{
    width: 70%;
    height: 40px;
    border: 2px solid black;
}


.fas, .fa-arrow-right{
    font-size: 3em;
}


.button{
    width: 80px;
    height: 30px;
    font-weight: bold;
    margin: 20px;
    border-radius: 3px;
    border: none;
}

table{
    text-align: center;
    border: 1px solid black;
    margin: 50px auto 30px auto ;
}

th, td{
    width: 130px ;
    border: 1px solid black;
    padding: 5px;
}

th{
    background-color: gray;
}


